@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BTBrikRegular';
    src: url('BTBrikRegular.otf');
    font-weight: normal;
    font-style: normal;
  }