body, html{
    background: linear-gradient(270deg, #2167c8, #3f3f3f, #c81b4f);
    background-size: 600% 600%;
    color: white;
    animation: gradientslide 5s ease infinite;
    height: 100%;
}

@keyframes gradientslide { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

.wrapper{
    background-image: url("../images/bg.png");
    height: 100%; 
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 5;
}
#image-wrap{

}
#image-wrap img{

  max-width: 100%;
  max-height: 70%;
}
@media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
}

.entry{
    margin-top: 40px;
}
.entry label{
    color: crimson;
    font-size: 1.7em;
}
.entry input{
    width: 100%;
    background: #dedede;
    color: black;
    text-transform: uppercase;
    font-family: BTBrikRegular;
    font-size: 1.9em;
    text-align: center;
}
.canv{
  position: fixed;
  width: 920px;
  height: 240px;
}



